!.gitignore

logs
*.log
*.bak
*.old
npm-debug.log*

vendor
node_modules
php_packages

pids
*.pid
*.seed

.npm
.node_repl_history
.sass-cache
*.cache

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

.DS_Store
.idea/
.vscode
